Repository tldr-pages/tldr-maintenance, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sbrl, @kbdharun, @sebastiaanspeck

.github/CODEOWNERS:

/.github/workflows/* @sbrl @kbdharun @sebastiaanspeck
/scripts/* @sebastiaanspeck @kbdharun
/package.json @kbdharun @sebastiaanspeck
/package-lock.json @kbdharun @sebastiaanspeck
/requirements.txt @kbdharun @sebastiaanspeck

CI: Make sure any previous files get deleted
  .github/workflows/calculate-metrics.yml
Owners: @sbrl, @kbdharun, @sebastiaanspeck

Add cisco-ios as platform
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

Revert "build(deps): bump lycheeverse/lychee-action from 2.4.1 to 2.5.0 (#168)"
  .github/workflows/check-links.yml
Owners: @sbrl, @kbdharun, @sebastiaanspeck

Revert "build(deps): bump lycheeverse/lychee-action from 2.4.1 to 2.5.0" (#170)
  .github/workflows/check-links.yml
Owners: @sbrl, @kbdharun, @sebastiaanspeck

Upload output.md as well
  .github/workflows/check-links.yml
Owners: @sbrl, @kbdharun, @sebastiaanspeck

Update check-links.yml
  .github/workflows/check-links.yml
Owners: @sbrl, @kbdharun, @sebastiaanspeck

debug logging (WIP)
  .github/workflows/check-links.yml
Owners: @sbrl, @kbdharun, @sebastiaanspeck

Move upload-artifact higher to have the original file
  .github/workflows/check-links.yml
Owners: @sbrl, @kbdharun, @sebastiaanspeck

Update check-links.yml
  .github/workflows/check-links.yml
Owners: @sbrl, @kbdharun, @sebastiaanspeck

Fix regex
  scripts/sort-lychee-output.py
Owners: @sebastiaanspeck, @kbdharun

Update check-links.yml
  .github/workflows/check-links.yml
Owners: @sbrl, @kbdharun, @sebastiaanspeck

Bump lychee-action to latest version (#171)
  .github/workflows/check-links.yml
  scripts/sort-lychee-output.py
Owners: @sbrl, @kbdharun, @sebastiaanspeck

Fix creating new GitHub issue
  scripts/_common.py
Owners: @sebastiaanspeck, @kbdharun

Update README to include GH Actions badges
  README.md
Owners: none

scripts/check-pages: expand sed command to cover edge cases
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

Update scripts/check-pages.sh
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

Revert "Update scripts/check-pages.sh"
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

scripts/check-pages: expand sed command to cover edge cases (#178)
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

calculate-metrics: use Python script
  scripts/calculate-metrics.sh
Owners: @sebastiaanspeck, @kbdharun

calculate-metrics: use Python script (#181)
  scripts/calculate-metrics.sh
Owners: @sebastiaanspeck, @kbdharun

Update calculate-metrics.sh
  scripts/calculate-metrics.sh
Owners: @sebastiaanspeck, @kbdharun

check-pages: add dos as platform
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

translated ls
  new project
Owners: none

add see also
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

Whitespace noticed by vscode
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

forgot run mode
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

Update scripts/check-pages.sh
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

quotation fix
  scripts/check-pages.sh
Owners: @sebastiaanspeck, @kbdharun

inexact matching
  scripts/calculate-metrics.sh
Owners: @sebastiaanspeck, @kbdharun

Update calculate-metrics.sh
  scripts/calculate-metrics.sh
Owners: @sebastiaanspeck, @kbdharun

calculate-metrics.sh: use the new inexact matching for human review (#199)
  scripts/calculate-metrics.sh
Owners: @sebastiaanspeck, @kbdharun
